body {
    margin: 0px;
    font-family: "Kumbh Sans";
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #eee;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0 solid transparent;
    padding: 0 solid transparent;
}
.nav-links li a {
    text-decoration: none;
    color: #7d7d7d;
    font-size: 16px;
    transition: color 0 solid transparent.2s;
    padding-bottom: 30px;
}
.nav-links li a:hover {
    color: black;
    border-bottom: 3px solid orange; 
}
/* ? Cart count & logo */
.header-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    inline-size: none;
}
.cart-icon img {
    position: relative;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 15px;
}
.cart-icon span {
    position: absolute;
    top: 20px;
    right: 85px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.cart-popup {
    display: none;
    position: absolute;
    z-index: 100;
    padding: 20px;
    top: 60px;
    right: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.avatar:hover {
    border:  3px solid orange;
    border-radius: 50%;
    box-sizing: border-box;
}
/* ! ## BODY ## */
.product-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    /* flex-wrap: wrap; */
    /* padding: 50px 100px; */
}
/* ! ## BODY:[Product Gallery] ## */
.product-gallery {
    margin-left: 0px;
    max-width: 500px;
}
.cover-image {
    cursor: pointer;
    height: auto;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    display: block;
}
.thumbnail-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 0 solid transparent;
}
.product-thumbnail {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0 solid transparent.3s ease;
    border: 2px solid transparent;
}
.product-thumbnail:hover, .product-thumbnail.active {
    border: 2px solid orange;
    opacity: 50%;
}
/* ! ## BODY [Lightbox Modal] ## */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center; /* Questo centra anche verticalmente */
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}
.lightbox-img {
    width: 400px;
    border-radius: 15px;
}
.lightbox .close {
    position: absolute;
    top: 9%;
    right: 35%;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev {
    left: 32%;
}

.next {
    right: 32%;
}
/* ! ## BODY [Product details] ## */
.product-details {
    padding-top: 50px;
    max-width: 400px;
    font-family: 'Arial', sans-serif;
}
.company-name {
    font-size: 15px;
    color: grey;
    font-weight: 500;
    letter-spacing: 3px;
} 
.product-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}
.product-desc {
    font-size: 16px;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
}
.product-price {
    font-size: 24px;
    font-weight: 700;
    color: #222;
}
/* ! ## BODY [Adding to cart] ## */
.add-cart-row {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}
.add-cart-btn {
    background-color: hsl(26, 100%, 55%);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 20px hsl(26, 100%, 55%, 0 solid transparent.3);
    transition: background-color 0 solid transparent.3s ease;
    border: 0 solid transparent;
}
.add-cart-btn:hover {
    background-color: hsl(26, 100%, 60%);
}
.items-count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
    color: hsl(220, 13%, 13%);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    opacity: 1;
    padding: 0 solid transparent 15px;
}
.add-cart-icon {
    color: #222;
    width: 20px;
    height: 20px;
    margin-right: 10%;
}
.add-cart-txt {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}
.increment-icon, .decrement-icon {
    color: hsl(26, 100%, 55%);
    opacity: 100%;
    cursor: pointer;
}